body{
    margin: 0px;
}

#location{
    height: 400px;
    background-color: #FBB063;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1{
    color: #FFF;
    display: flex;
    justify-content: center;
}

span{
    color: #006E65;
}

#location_box{
    margin: 0px 15rem;
    display: flex;
    justify-content: space-between;
}

.data{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#sponsor{
    height: 400px;
    background-color: #ED7D31;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#sponsor_card{
    margin: 0px 15rem;
    display: flex;
    flex-direction: column;
}

.one{
    display: flex;
    justify-content: space-between;

}

.two{
    display: flex;
    justify-content: space-around;
}

.sponsor_icon{
    width: 150px;
    height: 150px;
}